@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 224 64% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 100% 50%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 120 100% 50%;
    --chart-1: 120 100% 50%;
    --chart-2: 224 64% 33%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 224 64% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 14.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 120 100% 50%;
  }

  .light {
    --background: 0 0% 98%;
    --foreground: 0 0% 3.9%;
    --card: 120 100% 97%;
    --card-foreground: 0 0% 3.9%;
    --popover: 120 100% 97%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 224 64% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 20% 94%;
    --secondary-foreground: 0 0% 9%;
    --muted: 120 20% 94%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 120 100% 50%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 90%;
    --input: 120 20% 90%;
    --ring: 224 64% 33%;
    --chart-1: 120 100% 50%;
    --chart-2: 224 64% 33%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 3.9%;
    --sidebar-primary: 224 64% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 120 20% 94%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 120 20% 90%;
    --sidebar-ring: 224 64% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
